@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.script-font {
  font-family: "Great Vibes", cursive;
}

.post-image-height {
  height: 250px;
}

.NavBar-style {
  border: 4px;
  border-style: dotted;
  border-color: red;
  border-width: 5px;
  margin-left: 10%;
  padding: 10px;
}

.Header-style {

  font-family: "Great Vibes", cursive;
  border: 4px;
  border-style: groove;
  border-color: slategrey;
  border-width: 40%;
  padding: 10px;
  text-align: center;
  background-color: lightgray
}

.footer {
  display: flex;
  border: 30px solid orange;
  background-color: orange;
  margin-top: 100%;

}